* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, Sans-Serif;
}

body {
  background: black url('imagens/fundo-madeira.jpg') top center no-repeat fixed;
  background-size: cover;
  overflow-y: hidden;
}

#iphone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('imagens/frame-iphone.png');
  width: 311px;
  height: 627px;
}

iframe {
  position: relative;
  left: 22px;
  top: 80px;
  width: 269px;
  height: 471px;
}

nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

img:hover {
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.7);
}

ul {
  text-align: right;
  list-style-type: none;
}