@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

::webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html, body {
  width: 100vw;
  height: 100%;
  font-family: Arial, Helvetica, Sans-Serif;
}

body {
  background: black url('imagens/fundo-madeira.jpg') top center no-repeat fixed;
  background-size: cover;
}

#iphone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('imagens/frame-iphone.png');
  width: 311px;
  height: 627px;
}

#tela {
  position: relative;
  left: 22px;
  top: 80px;
  width: 269px;
  height: 471px;
}

nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

nav img:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  transform: translate(-3px, -3px);
  transition: transform 0.3s, border 0.5s;
}

ul {
  text-align: right;
  list-style-type: none;
}